.Rbuildignore
.deploy-wordpress-localhost.Rproj
.Rproj.user
.Rhistory
.RData
.DS_Store
wordpress/*
!wordpress/.keep
mysql/*
!mysql/.keep
logs/nginx/*
!logs/nginx/.keep
logs/php/*
!logs/php/.keep
profiling/*
!profiling/.keep
_trash
*.Rproj
.idea/*
